<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator Web</title>
    <!-- cdn boostrap 5css -->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../resources/assets/icons/bootstrap-icons.min.css">
</head>

<body>

    <main>

        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="card justify-content-center">
                <div class="card-body">
                    <h4 class="card-title">Calculator</h4>
                    <form action="">
                        <div class="mb-3 row">
                            <div class="col-10">
                                <input type="text" class="form-control" name="valueCalculator" id="valueCalculator"
                                    aria-describedby="" placeholder="Type here for select the number" disabled />
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" id="ButtonDelete">
                                    <i class="bi bi-backspace-fill"></i>
                                </button>

                            </div>

                        </div>
                        <div class="row justify-content-center align-items-center g-2">
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="Button1"
                                onclick="addValue(1, 'NUMBER')">1</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="Button2"
                                onclick="addValue(2, 'NUMBER')">2</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="Button3"
                                onclick="addValue(3, 'NUMBER')">3</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="ButtonTrash"><i
                                    class="bi bi-trash"></i></button>
                        </div>
                        <div class="row justify-content-center align-items-center g-2">
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(4, 'NUMBER')" id="Button4">4</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(5, 'NUMBER')" id="Button5">5</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(6, 'NUMBER')" id="Button6">6</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue('+', 'ACTION')" id="ButtonPlus">+</button>
                        </div>
                        <div class="row justify-content-center align-items-center g-2">
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(7, 'NUMBER')" id="Button7">7</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(8, 'NUMBER')" id="Button8">8</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue(9, 'NUMBER')" id="Button9">9</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col"
                                onclick="addValue('-', 'ACTION')" id="ButtonMinus">-</button>
                        </div>
                        <div class="row justify-content-center align-items-center g-2">
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="ButtonSlash"
                                onclick="addValue('/', 'ACTION')">/</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="ButtonTimes"
                                onclick="addValue('*', 'ACTION')">*</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="Button0" ,
                                onclick="addValue(0, 'NUMBER')">0</button>
                            <button type="button" class=" btn btn-outline-dark mx-2 my-2 col" id="ButtonEqual"
                                onclick="procesar()">=</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </main>

    <script src="./../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../controllers/Calculator.js"></script>
</body>

</html>